.iconTableCrud{
    max-width: 30px;
    max-height: 30px;
    margin-left: 15px;
}

.spanNumero{
    background-color: greenyellow;
    border-radius: 100%;
    margin: 1px;
    padding: 5px;
    display: inline;
    cursor:pointer;
}

.spanAllNumbers{
    border: 1px solid black;
    border-radius: 100%;
    margin: 4px;
    padding: 5px;
    display: inline;
    cursor:pointer;
}

